@font-face {
  font-family: NoirPro;
  src: url("./fonts/NoirPro-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: NoirPro;
  src: url("./fonts/NoirPro-Medium.otf");
  font-weight: bold;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: NoirPro, sans-serif;
}

.background {
  background-color: #F2F2F2;
  position: fixed;
  width: 200%;
  height: 200%;
  transform: translate3d(-50%, -25%, -1000px);
}

::selection {
  background: none;
  color: #737373;
}

.wrapper {
  margin: 0 10%;
  min-height: 100vh;
  max-width: 620px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.content {
  margin: 2em 0 1em;
  z-index: 3;
}

h1 {
  color: #0D0D0D;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1.4em;
}

p {
  color: #262626;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 2em;
}

p a {
  color: #0D0D0D;
}

p.small {
  font-size: 1em;
}

p.small a {
  color: #737373;
}

.creative-adventure-wrapper {
  position: relative;
  display: inline-block;
}

.creative-adventure-wrapper svg {
    position: absolute;
    width: 100%;
    height: 100%;
    image-rendering: high-quality;
    image-rendering: -webkit-optimize-contrast;
}

.creative-adventure {
  display: inline-flex;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  ) -100% / 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shimmer 6.66s linear infinite, wave 40s ease-in-out infinite;
  transform: rotateZ(0deg);
  filter: url(#wave);
  padding-left: 1.5px;
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(1px) rotateZ(1deg);
    }
    85% {
        transform: translateY(-1px) rotateZ(-1deg);
    }
}

@media (prefers-color-scheme: dark) {

  .background {
    background-color: #0D0D0D;
  }

  h1 {
    color: #F2F2F2;
  }
  
  p {
    color: #BFBFBF;
  }
  
  p a {
    color: #F2F2F2;
  }

  .creative-adventure {
    background: linear-gradient(
      90deg,
      rgba(255, 80, 80, 1) 0%,
      rgba(255, 180, 80, 1) 10%,
      rgba(230, 235, 100, 1) 20%,
      rgba(120, 240, 115, 1) 30%,
      rgba(100, 235, 235, 1) 40%,
      rgba(90, 220, 240, 1) 50%,
      rgba(80, 160, 250, 1) 60%,
      rgba(140, 90, 255, 1) 70%,
      rgba(215, 90, 255, 1) 80%,
      rgba(255, 80, 235, 1) 90%,
      rgba(255, 80, 80, 1) 100%
    ) -100% / 200%;
    background-clip: text;
    -webkit-background-clip: text;
  }

}

/* Animations */

h1, p {
  opacity: 0;
  -webkit-animation: fadein 0.5s ease-in 0.5s forwards;
  -moz-animation: fadein 0.5s ease-in 0.5s forwards;
  -ms-animation: fadein 0.5s ease-in 0.5s forwards;
  -o-animation: fadein 0.5s ease-in 0.5s forwards;
  animation: fadein 0.5s ease-in 0.5s forwards;
}

h1 {
  animation-delay: 0.1s;
}

p:nth-of-type(1) {
  animation-delay: 0.6s;
}

p:nth-of-type(2) {
  animation-delay: 0.7s;
}

p:nth-of-type(3) {
  animation-delay: 0.8s;
}

p:nth-of-type(4) {
  animation-delay: 0.9s;
}

p:nth-of-type(5) {
  animation-delay: 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
